In [2]:

## 3. `scraping_project.ipynb`
# In a Jupyter notebook cell:

"""
# Web Scraping Project - Interactive Notebook

This notebook contains exploratory web scraping code.
"""

# Cell 1: Import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
from IPython.display import display, Markdown

# Cell 2: Define scraping function
def scrape_books_toscrape():
    """Scrape book data from Books to Scrape website"""
    url = "http://books.toscrape.com/"
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    
    books = []
    for article in soup.find_all('article', class_='product_pod'):
        title = article.h3.a['title']
        price = article.find('p', class_='price_color').text
        availability = article.find('p', class_='instock availability').text.strip()
        
        books.append({
            'title': title,
            'price': price,
            'availability': availability
        })
    
    return books

# Cell 3: Execute scraping
print("Scraping books.toscrape.com...")
books_data = scrape_books_toscrape()
print(f"Found {len(books_data)} books")

# Cell 4: Display results
df = pd.DataFrame(books_data)
display(df.head())

# Cell 5: Export to CSV
df.to_csv('scraped_books.csv', index=False)
print("Data exported to 'scraped_books.csv'")

Scraping books.toscrape.com...
Found 20 books

                                   title   price availability
0                   A Light in the Attic  £51.77     In stock
1                     Tipping the Velvet  £53.74     In stock
2                             Soumission  £50.10     In stock
3                          Sharp Objects  £47.82     In stock
4  Sapiens: A Brief History of Humankind  £54.23     In stock

Data exported to 'scraped_books.csv'